.footer {
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  background-color: #F9F9F7;
  color: #5a5a5a;
}

.footer_links {
  padding-left: 0;
  list-style: none
}

.footer_links a {
  margin-bottom: 0;
  color: #5a5a5a;
}

.inactiveLink {
  pointer-events: none;
  cursor: default;
}